{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100 min-h-screen">
    <nav class="bg-blue-600 text-white p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Mi Proyecto</h1>
            <ul class="flex space-x-4">
                <li><a href="/." class="hover:text-violet-700">Inicio</a></li>
                <li><a href="/blog" class="hover:text-violet-700">Blog</a></li>
                <li><a href="/servicios" class="hover:text-violet-700">Servicios</a></li>
                <li><a href="/tienda" class="hover:text-violet-700">Tienda</a></li>
            </ul>
        </div>
    </nav>

    <main class="container mx-auto mt-8 p-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white text-center p-4 mt-8">
        <p class="text-red-900">2026 Mi Proyecto Django</p>
    </footer>
</body>
</html>
