{% extends 'ProyectoDjangoApp/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1 class="text-center text-4xl font-bold mb-10">INICIO</h1>
    <section class="flex flex-col gap-15">
        <div class="flex flex-col lg:flex-row items-center gap-5 bg-orange-300 rounded-2xl p-10">
            <img class="rounded-2xl w-200 lg:w-100 xl:w-150"  src="static/img/cajas.png">
            <p class="w-fit text-lg lg:text-3xl">Cuidamos tu envío, cuidamos el planeta. Utilizamos materiales 100% reciclados y compostables para que tu única preocupación sea disfrutar de tu compra.</p>
        </div>

        
        <div class="flex flex-col-reverse lg:flex-row-reverse items-center gap-5 bg-blue-300 rounded-2xl p-10">
            <img class="rounded-2xl w-200 lg:w-100 xl:w-150" src="static/img/entrega.png">
            <p class="w-fit text-lg lg:text-3xl">De nuestra puerta a la tuya en tiempo récord. Entregas seguras, rápidas y siempre con una sonrisa.</p>
        </div>
    </section>
    
{% endblock %}
